div.page-header { background: url(../images/phone-us.jpg) no-repeat 98% top; }

div#wrapper { border-color: #fc9200;	 }
ul.nav li#ZURBmenu strong { background-color: #fc9200; }
ul.tabs li.current a { color: #fff; background: #fc9200; text-shadow: 0 -1px 1px #d17200; } 

/* Change this page's link colors ----- */
div#content a, 
div#content div.page-header h2 a { color: #fc9200; }

/* Change this page's link hover colors now ----- */
div#content a:hover, body#contactPage div#content h1 a:hover, 
div#content h2 a:hover, body#contactPage div#content div.page-header h2 a:hover { color: #d17200; }

div#content div.vcard p a, body#contactPage div#content div.vcard p a:visited { color: #777; }

div#wrapper { border-color: #ff5c00; }


/*	Global Tweaks -------------------------------------------------- */	
div#wrapper { border-color: #b8d30b;  }
ul.nav li#ZURBmenu strong { background-color: #b8d30b; }
ul.tabs li.current a { color: #fff; background: #b8d30b; }

/* Change this page's link colors ----- */
a, div.page-header h2 a { color: #95a105; }

/* Change this page's link hover colors now ----- */
a:hover, h1 a:hover, h2 a:hover, div.page-header h2 a:hover { color: #b8d30b; }


#our-services ol { margin: 0; padding: 0; list-style: none; }
#our-services ol li { padding: 0px 15px 18px 0; }
body.ie #our-services ol { margin-top: -7px; }

#worlds-greatest { margin: 0; padding: 0; list-style: none; }
#worlds-greatest li { height: 36px; padding: 0 0 18px; line-height: 1; }
#worlds-greatest li img { float: left; margin-top: 7px; }
#worlds-greatest li p { margin: 0 0 0 130px; width: 150px; color: #777; font-size: 12px; font-weight: normal; }
#worlds-greatest li p span { display: block; line-height: inherit; }

/*	----------------------------------------------
=Contact Page
---------------------------------------------- */

/*	Global Tweaks -------------------------------------------------- */	
body#contactPage div.page-header { background: url(../images/phone-us.jpg) no-repeat 98% top; }

body#contactPage div#wrapper { border-color: #fc9200;	 }
body#contactPage ul.nav li#ZURBmenu strong { background-color: #fc9200; }
body#contactPage ul.tabs li.current a { color: #fff; background: #fc9200; text-shadow: 0 -1px 1px #d17200; } 

/* Change this page's link colors ----- */
body#contactPage div#content a, 
body#contactPage div#content div.page-header h2 a { color: #fc9200; }

/* Change this page's link hover colors now ----- */
body#contactPage div#content a:hover, body#contactPage div#content h1 a:hover, 
body#contactPage div#content h2 a:hover, body#contactPage div#content div.page-header h2 a:hover { color: #d17200; }

/* vCard Layout ----- */
div.vcard { background: #fff url(../images/vcard-background.gif) no-repeat; height: 145px; margin: 0 0 36px; padding: 36px 30px 18px; position: relative; }
div.vcard ul { margin: 0 0 18px; padding: 0; list-style: none; position: absolute; top: 63px; right: 30px; }
div.vcard li { color: #777; }
div.vcard address { color: #777; }
div.vcard address strong { font-size: 18px; line-height: 1.5; font-weight: 300; color: #333; }
div.vcard p { position: absolute; width: 100%; text-align: center; bottom: 9px; left: 0; }
body.ie6 div.vcard p { left: 30px; }

body#contactPage div#content div.vcard p a, body#contactPage div#content div.vcard p a:visited { color: #777; }

ul.photostrip { width: 360px; margin: 18px 0 18px -20px; padding: 0; list-style: none; height: 81px; }
ul.photostrip li { float: left; display: inline; width: 100px; margin: 0 0 0 20px; }

div.map { margin: 0 0 18px; }

ul.more-zurb { height: 27px; margin: 0 0 9px; padding: 0; list-style: none; }
ul.more-zurb li { display: inline; }
ul.more-zurb li a { float: left; display: inline; margin: 0 10px 0 0; padding: 5px 10px 4px 20px; background-position: left center; background-repeat: no-repeat; }
body#contactPage div#content ul.more-zurb li a { color: #777; }
ul.more-zurb li.twitter a { background-image: url(../images/twitter.png); }
ul.more-zurb li.flickr a { background-image: url(../images/flickr.png); }
ul.more-zurb li.delicious a { background-image: url(../images/delicious.gif); }
ul.more-zurb li.rss a { background-image: url(../images/rss-white.gif); }

/*	----------------------------------------------
=TEAM PAGE
---------------------------------------------- */

ul.skills { margin: 0 0 18px; padding: 0; list-style: none; }

/* SIDENAV */
ul#teamNav { list-style: none; margin-left: 0; }
ul#teamNav li { line-height: 24px; }

/* TEAM / INDEX PAGE */
div.team_member { width: 240px; height: 240px; float: left; }
div.team_member div.team_picture { width: 180px; height: 180px; background: #ccc; }

ul#teamMembers { list-style: none; float: left; width: 100%; margin-left: 0; }
ul#teamMembers li { font-size: 10px; width: 220px; margin: 0 25px 20px 0; height: 260px; float: left; }
ul#teamMembers li a { display: block; float: left; }
ul#teamMembers li a img { display: block; margin-bottom: 0.75em; background: #ddd; padding: 1px; border: 4px solid #f5f5f5; width: 216px; height: 216px; }
ul#teamMembers li a:hover img { background: #aabf30; border-color: #e2ef95; }
ul#teamMembers li p { font: bold 14px Arial; }
ul#teamMembers li p a { text-decoration: none }
ul#teamMembers li p a:hover { text-decoration: underline; color: #aabf30 }

ul#flickrPhotos { list-style-type: none; margin: 0; height: 172px; }
ul#flickrPhotos li { float: left; margin: 1px 1px 0 0; }
ul#flickrPhotos li a { display: block; width: 65px; height: 65px; overflow: hidden; }

/* APPLY FORM */
div#applyForm fieldset { border: none; }
div#applyForm label { float: left; width: 25%; }
div#applyForm textarea { width: 250px; }
div#applyForm input.button { width: 40%; margin-left: 30%; }

div#fearlessLeaders img { float: left; margin: 0 15px 15px 0; }
div.fearless-entry { float: left; margin-top: 15px; }
div.fearless-entry h4 { margin-bottom: 15px; }
div#fearlessLeaders p.large { font-size: 16px; line-height: 22px; }

.six-and-one-half { width: 360px; }



/*	----------------------------------------------
=Product Page
---------------------------------------------- */
div.secondary.page-header { background: none; margin-bottom: 36px; padding-bottom: 17px; border-bottom: 1px solid #ddd; }
div.secondary h1 { font-size: 54px; letter-spacing: -1px; padding-bottom: 9px; }
div.secondary.page-header h2 { position: relative; top: 0; left: 0; font-size: 18px; line-height: 1.5; margin-right: 0; }

/*	----------------------------------------------
=ZURBwired
---------------------------------------------- */


div#thisIsHowWeDoIt, div.downloads { background: #fff8e8; margin: 18px 0 36px; padding: 18px 20px; -webkit-border-radius: 6px;  -moz-border-radius: 6px; }
body.ie6 div#thisIsHowWeDoIt, body.ie6 div.downloads, body.ie7 div#thisIsHowWeDoIt { width: 670px; }
body.ie7 div.downloads { height: 180px; }
div#thisIsHowWeDoIt div.zurb, div#thisIsHowWeDoIt div.your { margin: 0; }
div#thisIsHowWeDoIt div.zurb,
div.downloads div.first { width: 300px; margin-left: 0; padding-right: 34px; padding-bottom: 42px; border-right: 1px solid #ffe9b9; }
div#thisIsHowWeDoIt div.your,
div.downloads div.second { width: 300px; padding-left: 24px; border-left: 1px solid #fff; }

div.downloads { margin: 0 0 21px; }
div.downloads div.download { float: left; width: 300px; }
body#zurbwired2Page div#content div.downloads p { margin: 0; padding: 0 0 18px; }
div.downloads div.first { padding: 10px 34px 0 0; }
div.downloads div.second { padding: 10px 0 0 24px; }

div#tinyTeamGrid, div#yourTeam { margin: 0 0 18px; text-align: center; }
div#tinyTeamGrid img { border: 1px solid #ffe9b9; }
div#yourTeam img { border: 1px solid #fff; }
div#thisIsHowWeDoIt div.your div#tinyTeamGrid { margin: 0 0 18px 25px; }

/* Submit Button */
body#zurbwired2Page div#content div.submit { margin: 0 0 18px; }
body#zurbwired2Page div#content div.submit p { margin: 0; padding: 0 0 10px; }

a.submitButton, a.submitButton:visited { background: url(../images/submit-button-glyph.gif) no-repeat 0 0; display: block; width: 280px; height: 72px; margin: 0 auto; text-indent: -999em; }
a.submitButton:hover { background-position: 0 -72px; }
a.submitButton:active { background-position: 0 -144px; }	

/* --------------------------------------------------
NEWSLETTER ARCHIVE
-------------------------------------------------- */
div.page-header.newsletter { background: url(../images/pizza.jpg) no-repeat 95% 0%; }

div.newLinks { padding-bottom: 30px; }
div.newLinks a { color:#95A105;}
div.newLinks li { list-style: none;}

ul.recent.blog-posts.delicious li { float: left; margin-bottom: 15px; }
ul.recent.blog-posts.delicious h5.date { float: left; color: #777; font-weight: normal; font-size: 12px; margin-top: 1px; }
ul.recent.blog-posts.delicious li div { display: block; float: left; width: 455px; margin-left: 12px; }


div.awesome.box.newsletter  { -moz-background-clip:border; -moz-background-origin:padding; -moz-background-size:auto auto; -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px; -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px; background-attachment:scroll; background-color:#EFEFEF; background-image:none; background-position:0 0; background-repeat:repeat; border-bottom-color:#EEEEEE; border-bottom-style:solid; border-bottom-width:1px; border-left-color-ltr-source:physical; border-left-color-rtl-source:physical; border-left-color-value:#EEEEEE; border-left-style-ltr-source:physical; border-left-style-rtl-source:physical; border-left-style-value:solid; border-left-width-ltr-source:physical; border-left-width-rtl-source:physical; border-left-width-value:1px; border-right-color-ltr-source:physical; border-right-color-rtl-source:physical; border-right-color-value:#EEEEEE; border-right-style-ltr-source:physical; border-right-style-rtl-source:physical; border-right-style-value:solid; 
	border-right-width-ltr-source:physical; border-right-width-rtl-source:physical; border-right-width-value:1px; border-top-color:#DDDDDD; border-top-style:solid; border-top-width:0px; margin-left:0; margin-right:0; margin-top:0; padding-left:19px; padding-right:19px; padding-top:17px; padding-bottom: 15px; }

