#leftcolumn {
    height:auto;
    width:120px;
    float:left;
    font-size:13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

#leftcolumn table{margin:5px 0;}
#leftcolumn tr img {width:35px; float:left;}
#leftcolumn tr {font-size:12px;font-weight:bold;}
#leftcolumn tr td {float:left;margin-bottom:4px;color: #3b5998;}

.page {width: 780px;height: auto;font-size:12px;margin-left:140px;min-height:340px;}

#button-preview,
#button-edit,
#button-delete{background:url(/asset/img/preview24.png) no-repeat center; height:24px; width:24px;border:none;cursor:pointer;float:left;margin-right:10px;}
#button-edit{background:url(/asset/img/edit24.png) no-repeat center;}
#button-delete{background:url(/asset/img/delete24.png) no-repeat center;margin-right:0px;}





/* --------------------------------------------------------------------------------------- */
ul, li { list-style:none; }

.topnav {margin:0px; padding:0px; list-style:none;font-weight:bold; }
.topnav a { position:relative; display:block; z-index:100;}
.topnav li { width:100px;height:35px; margin-left:-32px;margin-bottom:-3;color: #3b5998;}
.topnav li a {font-size:11px; line-height:16px; line-height:30px; }
.topnav li a.sf-with-ul {  }
.topnav li ul {position:absolute; width:90px; /*border:1px solid #ECEDE8;*/}
.topnav li li a:hover { border-bottom:1px solid #ddd;}
/* topnav indicator */
.topnav .sf-sub-indicator { display:none; }

.topnav li img {float:left;width:27px; margin-right:3px;}
.topnav a.small {padding-left:10px; text-align:center;width:120px; padding:0px 0px;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
    box-shadow:0 0 8px rgba(0,0,0,0.3);
}
.topnav {float:right;margin-right:20px;display:non;}
.topnav ul {padding-top:5px;}


