#leftcolumn {
    height:auto;
    width:125px;
    float:left;
    font-size:13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

#leftcolumn tr td a {margin-top:140px;}
#leftcolumn tr img {width:35px; float:left;}
#leftcolumn tr {font-size:12px;font-weight:bold;}
#leftcolumn tr td{color: #3b5998;}

.page {
    width: 770px;
    height: auto;
    font-size:13px;
    margin-left:150px;
    min-height:340px;
}


