body {
    font-family: "Helvetica Neue", Helvetica, Corbel, Arial, sans-serif;
    font-size: 12px;
    margin:     auto;
    padding:    auto;
    color:#555;
    background:#f0f0f0;
    font-family:Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.title{
    font-family: "Helvetica Neue", Helvetica, Corbel, Arial, sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    word-spacing: 1px;
    font-weight: bold;
    letter-spacing:0.4px;
    text-align: center;
}

#content {
    width: 920px;
    margin: 30px auto 30px;;
    background: #fff;
    padding: 20px;
    height:auto;
    min-height:480px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
}

h2.headline {
    padding: 10px 20px;
    background: #ededed;
    background: #f8f8f8;
    text-shadow: #fff 1px 1px;
    color: #555;
    font-size: 17px;
    margin-bottom:20px;
    /*margin-top:0px;*/
}

a {
    color: #3b5998;
    cursor: pointer;
    -moz-outline-style: none;
    text-decoration:none
}

.error {
    font-size:   13px;
    color:       #872020;
    margin:      10px auto -30px auto;
    line-height: 20px;
    width:780px;
}


/* ------------- wrapper - header ------------------------- */

div#wrapper {border-top:4px solid #2daebf;clear:left;}
div#container {
    position:relative;
    width:960px;
    padding:0;
    font-size:11px;
    position:relative;
    height:25px;
    margin:0 auto 16px
}
ul.tabs {float:right;margin:0}
ul.tabs li {display:block;float:left;line-height:1}
ul.tabs li a {display:block;font-weight:bold;margin:9px 0 0 -1px;margin-right:10px;padding:2px 5px 11px 15px;border-left:1px solid #eee;text-decoration:none;color:#333;cursor:pointer}
ul.tabs li a:hover,
ul.tabs li.current a {
    background:#2daebf;
    color:#fff;
    border:0;
    margin:0;
    padding-top:11px;
    padding-right:15px;
    text-shadow:0 -1px 1px rgba(0,0,0,.25);
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius:0 0 3px 3px;
    position:relative;
    z-index:2;
}

ul.tabs li.home a:hover {background:#2daebf}
ul.tabs li.green a:hover {background:#b8d30b}
ul.tabs li.magenta a:hover {background:#a9014b}
ul.tabs li.orange a:hover {background:#ff6908}
ul.tabs li.yellow a:hover {background:#fc9200}


h1.home, h2.home, h3.home, h4.home, h5.home,
h1.green, h2.green, h3.green, h4.green, h5.green,
h1.magenta, h2.magenta, h3.magenta, h4.magenta, h5.magenta,
h1.orange, h2.orange, h3.orange, h4.orange, h5.orange,
h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow
{ margin-top:2px;margin-bottom:20px; }

.home {color:#007d9a}
.green {color:#95a105}
.magenta {color:#a9014b}
.orange {color:#d45500}
.yellow{color:#d17200;}
/* ------------------------------------------------------- */




/* --------------------- button ------------------------- */

.awesome, .awesome:visited {
    background: #222;
    display: inline-block;
    padding: 3px 10px 4px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome:hover { background-color: #111; color: #fff; }
.awesome:active { top: 1px; }
.small.awesome,
.small.awesome:visited { font-size: 11px;}
.awesome,
.awesome:visited,
.medium.awesome,
.medium.awesome:visited {font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome,
.large.awesome:visited { font-size: 14px; padding: 5px 12px 6px; }
.green.awesome,
.green.awesome:visited {background-color: #91bd09;}
.green.awesome:hover { background-color: #749a02; }
.blue.awesome,
.blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome,
.red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome,
.magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome,
.orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome,
.yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }

/* --------------------- end button ------------------------------ */


/* ----------------------- my-color-box ----------------------------*/
.white_content {
    position: absolute;top: 30px;width: 820px;height: auto; padding: 20px;
    background-color: white;z-index:1002;overflow: auto;
    border: 6px solid #ccc;
    -moz-border-radius: 5px; border-radius: 5px;
}
.black_overlay{
      position: absolute; top: 0%;left: 0%; width: 100%; height: 100%;
      background-color: black;z-index:1001;
      -moz-opacity: 0.8; opacity:.70; filter: alpha(opacity=80);
}
/* ------------------------------------------------------------------ */



/* ------------------------ custom table form ----------------------------- */
table.custom th,
table.custom td {
    padding: 8px;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.custom {
    border-spacing: 5px;
    border-collapse: separate;
}

table.custom textarea {height:140px;}
table.custom textarea,
table.custom input[type=text],
table.custom input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 350px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table.custom select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    background:#fff;
    width:  350px;
    height: 27px;
    color:  #585858;
}

table.custom input[type=text]:focus,
table.custom input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.custom td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 200px;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table.custom td.field {
    width: 350px;
    background: #ededed;
}

table.custom td.captcha {
    float: right;
    display: inline-block;
    margin-top: -5.5em;
    margin-right: -12em;
}

/* -------------------------------------------------------------------- */


/* ------------------ hata mesajı için --------------------- */
#notice {margin:auto; width:960px;}

p.fail,
p.success{
    width:       400px;
    padding:     8px 20px 10px;
    margin-top:   -30px;
    margin-bottom:-20px;
    color:       #fff;
    background: #2daebf;
    line-height: 16px;
    font-size:   13px;
    font-family: arial, helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:      5px;
}

p.fail {
    color:       white;
    background: #b22352;
}
/* ----------------------------------------------------------------- */

select{
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    background:#fff;
    width:  158px;
    height: 27px;
    color:  #585858;
}

h1#headline,
h2#headline,
h3#headline,
h5#headline{
    padding: 10px 20px;
    background: #f8f8f8;
    text-shadow: #fff 1px 1px;
    color: #2f7ca2;
    color:red;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight:    bold;
    font-family:    helvetica, geneva, arial, sans-serif;
    color: #2f7ca2;
    margin-top:0px;
}

tr, td, th {text-align:left;}
#student_image { width:120px; height:140px;border: 1px dotted #ccc;float:left;margin:0 40px 0 30px;}

#leftcolumn {height:auto;width:130px;float:left; font-size:13px;border-right:1px dotted #ccc;}
#leftcolumn tr img {width:35px;}
#leftcolumn tr{font-size:12px;font-weight:bold;}

.page {
    width: 770px;
    height: auto;
    font-size:13px;
    margin-left:150px;
    min-height:340px;
}

.footer {font: 10px Verdana, Helvetica, sans-serif; text-align: center; margin-top: 20px;margin-bottom:10px;}
