
/* -------------------------- home.htm --------------------- */
#contentarea {
    float:left;
    display:block;
    width:650px;
}

#sidebar {
    float:right;
    display:block;
    width:250px;
}

.feature {
    float:left;
    margin:0px 0px;
    width:250px;
}
.feature li {
    list-style-image: url('/asset/img/next.png');
    font-size:13px;
}
#content{height:420px;}
#contentarea{height:auto;}

#contentarea img {
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
}
/* ----------------------- end home.htm --------------------- */


