#contentarea {float:left;display:block;width:650px;height:auto;  }
.feature {float:left;margin:0px 0px;width:250px;}
.feature li {list-style-image: url('/asset/img/next.png');font-size:13px;}
#contentarea img {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.3);
}


.sidebar {
  background: none repeat scroll 0 0 #FAFAFA;
  border:1px solid #DDDDDD;
  border-radius:4px 4px 4px 4px;
  overflow:hidden;
  padding:10px 8px 25px;;
}

.sidebar h3{margin:0px;}

.module {
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius:5px 5px 5px 5px;
  margin:0 0 10px;
  padding:5px;
}

.sidebar-right{
  float:right;
  display:block;
  width:250px;
}


