[globals]
; F3 magic'leri
extlink="window.open(this.href); return false;"
RELEASE="FALSE"
IMPORTS="inc/"
FONTS="../public/fonts/"
TEMP="../temp/"
GUI="gui/"
LAYOUTS="../layouts/"

; Veritabanı
dbname="db_name"
dbuser="db_user"
dbpass="db_pass"

; Resim
uploaddir="../public/upload/"
default_image="default.png"
