[globals]
; F3 magic'leri
extlink="window.open(this.href); return false;"
RELEASE="FALSE"
IMPORTS="inc/"
FONTS="../public/fonts/"
TEMP="../temp/"
GUI="gui/"
LAYOUTS="../layouts/"

; Veritabanı
dbname="BANA_BIR_VERITABANI_VER"
dbuser="BANA_BIR_KULLANICI_VER"
dbpass="BANA_BIR_SIFRE_VER"

; Resim
uploaddir="public/upload/"
