[globals]

; F3 magic'leri
extlink="window.open(this.href); return false;"
RELEASE="FALSE"
IMPORTS="inc/"
FONTS="../public/fonts/"
TEMP="tmp/"
GUI="gui/"

; Veritabanı
dbname="db_name"
dbuser="db_user"
dbpass="db_pass"

; Resim
uploaddir="upload/"
