#leftcolumn {
    height:auto;
    width:120px;
    float:left;
    font-size:13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

#leftcolumn table{margin:5px 0;}
#leftcolumn tr img {width:35px; float:left;}
#leftcolumn tr {font-size:12px;font-weight:bold;}
#leftcolumn tr td {float:left;margin-bottom:4px;color: #3b5998;}

.page {width: 780px;height: auto;font-size:12px;margin-left:140px;min-height:340px;}

#button-preview,
#button-edit,
#button-delete{background:url(/public/img/preview24.png) no-repeat center; height:24px; width:24px;border:none;cursor:pointer;float:left;margin-right:10px;}
#button-edit{background:url(/public/img/edit24.png) no-repeat center;}
#button-delete{background:url(/public/img/delete24.png) no-repeat center;margin-right:0px;}


.topnav .sf-sub-indicator { display:none; }
.topnav ul {
    background:#fff;
    margin-top:22px;
    margin-left:-33px;
    list-style:none;
    text-align:center;
    width:120px;
    padding:7px 0 0px;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 8px rgba(0,0,0,0.4);
    box-shadow:0 0 8px rgba(0,0,0,0.4);
 }

.topnav {}
.topnav a {display:block;background-color:none;}
.topnav li { float:left; width:auto;}
.topnav li li {float:left;width:150px;height:25px;padding-top:8px;}
.topnav li li a {border-left:none;margin-left:0.5px;height:5px; margin-top:0px;}
.topnav li li a:hover {text-shadow:none;margin-top:-8px;}
.topnav li a.sf-with-ul {  }
.topnav li ul { background:#fff; position:absolute;width:150px;z-index:999; }
.topnav li ul li { border-bottom:1px solid #ECEDE8; }
.topnav li ul li a{}
.topnav li ul li a:hover {background:#fff; color:#555;padding-top:10px;}
.topnav li ul li a,
.topnav li ul li a:visited {background:#fff; width:120px;color:#555;font-weight:normal;}

.topnav li ul li img {float:left;width:25px; margin-left:10px;margin-top:-5px;}
.topnav li ul a img {margin-left:-5px;margin-right:2px;margin-top:-5px;}

