table.login {
    border-spacing: 5px;
    border-collapse: separate;
}

table.login th,
table.login td {
    padding: 4px;
    font-size: 13px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text],
table.login input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 220px;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text]:focus,
table.login input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.login td.label label {font-weight:bold; letter-spacing:0.7px;}
table.login td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-top:5px;
}

table.login td.field {
    width: 220px;
    background: #ededed;
}

a.forgot-pass{ margin-top:-5px; font-size:12px; font-weight:normal; color:#3072b3; text-decoration:none;}
a.forgot-pass:hover {color:#3072b3;}

p.fail{ margin:50px auto -84px;}
.error2{ margin:50px auto -84px;}

form.login {float:right; width:450px;}
.right {float:right;}


#ourWork .home-content {float:left; width:450px; margin-bottom:20px;}
#ourWork .home-content img {width:440px;
    -webkit-box-shadow:0 0 22px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 22px rgba(0,0,0,0.4);
    box-shadow:0 0 22px rgba(0,0,0,0.4);
}

#ourWork .home-content.right {float:right;}
#ourWork ul {margin-top:-15px;}
#ourWork ul li{margin:10px 8px 20px 10px;width:400px;float:left;padding-left:27px; line-height:17px;
min-height:24px; background:url(/public/img/icon/24x24/help.png) no-repeat 0px;}

#ourWork strong {font-weight:bold;display:block; margin-bottom:5px; font-size:15px; color:#3072b3;}
#ourWork p {margin-top:0px; margin-bottom:20px; font-size:14px; word-spacing:1px;}

h4.title {font-weight:bold; font-size:17px; display:block; margin-bottom:15px; padding-bottom:10px; border-bottom:1px solid #ddd;}

.login-error {background:url(/public/img/icon/24x24/warning.png) no-repeat;
padding-left:30px;padding-top:5px;height:24px; display:block; color:#3072b3; font-weight:bold; word-spacing:1px;}




