table.login {
    border-spacing: 5px;
    border-collapse: separate;
}

table.login th,
table.login td {
    padding: 4px;
    font-size: 13px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text],
table.login input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 220px;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text]:focus,
table.login input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.login td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 131px;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table.login td.field {
    width: 220px;
    background: #ededed;
}

a.forgot-pass{ margin-top:-5px; font-size:12px; font-weight:normal; color:#3072b3; text-decoration:none;}
a.forgot-pass:hover {color:#3072b3;}

.right {float:right;}

/*
#content{margin-top:8%;width:400px;min-height:220px;}
#content h2 {font-size:17px;margin-bottom:30px;}
#content h2 {width:257px;}
*/
p.fail{ margin:50px auto -84px;}
.error2{ margin:50px auto -84px;}

form.login {float:right; width:400px;}
.home-content {float:left; width:460px; margin-bottom:20px;}
.home-content ul {margin-top:-15px;}
.home-content ul li{margin:10px 8px 10px 10px;width:100%;float:left;padding-left:20px;padding-top:-10px;margin-bottom:10px;background:url(/public/img/icon/16x16/next_blue.png) no-repeat;}

.home-content strong {font-weight:bold;display:block; margin-bottom:5px; font-size:15px; color:#3072b3;}
.home-content p {margin-top:0px; margin-bottom:20px; font-size:14px;}

h4.title {font-weight:bold; font-size:17px; display:block; margin-bottom:15px; padding-bottom:10px; border-bottom:1px solid #ddd;}

.login-error {background:url(/public/img/icon/24x24/warning.png) no-repeat; padding-left:25px;padding-top:5px;height:24px; display:block; color:#3072b3; }




