body {
    font-family: Corbel, Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    margin:auto;
    padding:auto;
    color:#555;
    background:#f0f0f0;
}

#content {
    width: 920px;
    margin: 30px auto 30px;;
    background: #fff;
    padding: 20px;
    height:auto;
    min-height:500px;
    position:relative;
    border:3px solid rgba(0,0,0,0);
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#content h2 {color: #2f7ca2; border-bottom:1px solid #ddd; padding:0 5px 8px 5px;margin:5px 0 25px;}
#content h2.magenta {color:#a9014b;}
#content h2.agenta {color:#a9014b;}
#content h2.green {color:#b8d30b}
#content h2.magenta {color:#a9014b}
#content h2.orange {color:#ff6908}
#content h2.yellow {color:#fc9200}

a {color: #3b5998; cursor: pointer; -moz-outline-style: none; text-decoration:none}
.error {font-size:13px; color:#872020; margin:10px auto -30px; line-height:20px; width:780px;}

.left {float:left;}
.right {float:right;}
.line{border:none;border-bottom:1px solid #ddd;}
/* ------------- wrapper - header ------------------------- */

div#wrapper {border-top:4px solid #2daebf;clear:left;}
div#container {position:relative;width:960px;padding:0;font-size:11px;position:relative;height:25px;margin:0 auto 16px}

ul.tabs {float:right;margin:0}
ul.tabs li {display:block;float:left;line-height:1}
ul.tabs li a {
    color:#333;
    display:block;
    font-weight:bold;
    margin:9px 0 0 -1px;
    margin-right:10px;
    padding:2px 5px 11px 15px;
    border-left:1px solid #eee;
    text-decoration:none;
    cursor:pointer
}
ul.tabs li a:hover {
    background:#2daebf;
    color:#fff;
    border:0;
    margin:0;
    padding-top:11px;
    padding-right:15px;
    -webkit-border-bottom-radius:3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    text-shadow:0 -1px 1px rgba(0,0,0,.25);
    position:relative;
    z-index:2;
}

ul.tabs li.home,
ul.tabs li.home a,
ul.tabs li.green,
ul.tabs li.green a,
ul.tabs li.magenta,
ul.tabs li.magenta a,
ul.tabs li.orange,
ul.tabs li.orange a,
ul.tabs li.yellow,
ul.tabs li.yellow a {
    -webkit-border-bottom-radius:3px;
    -webkit-border-bottom-radius:3px;
    -moz-border-radius:0 0 3px 3px;
}

ul.tabs li.home a:hover {background:#2daebf}
ul.tabs li.green a:hover {background:#b8d30b}
ul.tabs li.magenta a:hover {background:#a9014b}
ul.tabs li.orange a:hover {background:#ff6908}
ul.tabs li.yellow a:hover {background:#fc9200}

/*h1, h2, h3, h4, h5 {margin:0}*/
h1.home, h2.home, h3.home, h4.home, h5.home,
h1.green, h2.green, h3.green, h4.green, h5.green,
h1.magenta, h2.magenta, h3.magenta, h4.magenta, h5.magenta,
h1.orange, h2.orange, h3.orange, h4.orange, h5.orange,
h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow
{ margin-top:2px;margin-bottom:20px; }

.home {color:#007d9a}
.green {color:#95a105}
.magenta {color:#a9014b}
.orange {color:#d45500}
.yellow{color:#d17200;}
/* ------------------------------------------------------- */




/* --------------------- button ------------------------- */

.awesome, .awesome:visited {
    background: #222;
    display: inline-block;
    padding: 3px 10px 4px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome:hover { background-color: #111; color: #fff; }
.awesome:active { top: 1px; }
.small.awesome,
.small.awesome:visited { font-size: 11px;}
.awesome,
.awesome:visited,
.medium.awesome,
.medium.awesome:visited {font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome,
.large.awesome:visited { font-size: 14px; padding: 5px 12px 6px; }
.green.awesome,
.green.awesome:visited {background-color: #91bd09;}
.green.awesome:hover { background-color: #749a02; }
.blue.awesome,
.blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.dark-blue.awesome,
.dark-blue.awesome:visited { background-color: #2f7ca2; }
.dark-blue.awesome:hover { background-color: #2f7ca2; }
.red.awesome,
.red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome,
.magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome,
.orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome,
.yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }

/* --------------------- end button ------------------------------ */


/* ------------------------ custom table form ----------------------------- */
table.custom th,
table.custom td {
    padding: 4px;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.custom {
    width:599px;
    margin:0 auto;
    border-spacing: 5px;
    border-collapse: separate;
}

table.custom textarea {height:150px;}
table.custom textarea,
table.custom input[type=text],
table.custom input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 350px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table.custom select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    padding-top:5px;
    background:#fff;
    width:  368px;
    height: 30px;
    color:  #585858;
}

table.custom input[type=text]:focus,
table.custom input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.custom td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 200px;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table.custom td.field {
    width: 350px;
    background: #ededed;
}
table.custom td.field span{float:left;margin:4px;}

table.custom td.captcha {
    float: right;
    display: inline-block;
    margin-top: -5.5em;
    margin-right: -12em;
}

/* -------------------------------------------------------------------- */


/* ------------------ hata mesajı için --------------------- */
#notice {margin:auto; width:960px;}

p.fail,
p.success{
    width:       400px;
    padding:     8px 20px 10px;
    margin-top:   -30px;
    margin-bottom:-20px;
    color:       #fff;
    background: #2daebf;
    line-height: 16px;
    font-size:   13px;
    font-family: arial, helvetica, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:      4px;
    box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
}

p.fail {color:white; background: #b22352;}
/* ----------------------------------------------------------------- */

select{font:13px Arial,Helvetica,sans-serif;border:1px solid #bdc7d8;padding:3px;background:#fff;width:158px;height:27px;color:#585858;}

tr, td, th {text-align:left;}
#student_image { width:120px; height:140px;border: 1px dotted #ccc;float:left;margin:0 40px 0 30px;}

/* -------------------- printly ----------------------- */
ul.tabs li.printly a {margin-top:3px;width:5px;height:25px;background:url(/public/img/printly.png) no-repeat;background-size:25px;}
/* ---------------------------------------------------- */

/* bu özelliği düzenlemeyi unutma*/
#moreFields,
#submit_button {
    height:23px;
    color:#2F7CA2;
    text-align:center;
    padding-top:6px;
    background:url(../img/btn.png) no-repeat top;
    font-weight:bold;
    width:96px;
    font-size:13px;
    display:block;
    cursor:pointer;
    border:none;
    height:auto;
    padding-bottom:7px;
}
#submit_button:hover {box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);}

textarea,
input[type=text]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 6px;
    margin: 0;
    font-size: 13px;
    color: #555;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type=text]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

.module {background: none repeat scroll 0 0 #EEEEEE; border-radius:5px 5px 5px 5px; margin:0 0 10px; padding:4px;}



#leftcolumn {
    height:auto;
    width:120px;
    float:left;
    font-size:13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

#leftcolumn table{margin:5px 0;}
#leftcolumn tr img {width:35px; float:left;}
#leftcolumn tr {font-size:12px;font-weight:bold;}
#leftcolumn tr td {float:left;margin-bottom:4px;color: #3b5998;}

.page {width: 780px;height: auto;font-size:12px;margin-left:140px;min-height:340px;}
.page h2 a {float:right;}                                                                                                           
.page h2 img {float:left;width:30px;margin-top:-5px;margin-right:2px;} 
h2 a {float:right;}                                                                                                           
h2 img {float:left;width:30px;margin-top:-5px;margin-right:2px;} 

#button-preview,
#button-edit,
#button-delete{background:url(/public/img/preview24.png) no-repeat center; height:24px; width:24px;border:none;cursor:pointer;float:left;margin-right:10px;}
#button-edit{background:url(/public/img/edit24.png) no-repeat center;}
#button-delete{background:url(/public/img/delete24.png) no-repeat center;margin-right:0px;}


