.contain {height:250px;margin-top:-10px;}

ul.tabss {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabss li {
	float: left;
	margin: 0;
	padding: 0;
	height: 24px;
	line-height: 24px;
	border: 1px solid #999;
	border-left: none;
	/*margin-bottom: -1px;*/
	/*background: #e0e0e0;*/
	overflow: hidden;
	position: relative;
}

ul.tabss li a {
	text-decoration: none;
	/*color: #000;*/
	display: block;
	font-size: 13px;
	padding: 0px 20px;
	/*border: 1px solid #fff;*/
	outline: none;
}

ul.tabss li a.active,
ul.tabss li a.active:hover  {
	color:#fff;
	background: #8dc63f;
	font-size: 12px;
	border-bottom: 1px solid #fff;
	text-shadow:0 -1px 1px rgba(0,0,0,.25);
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	font-weight:bold;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {padding: 20px;font-size: 14px;}

#con {
	padding:15px;
}




/* --------------------- checkbox.css ------------------- */
.checklist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.checklist li {
	float: left;
	margin-right: 10px;
        background: url(../images/checkboxbg.gif) no-repeat 0 0;
	width: 105px;
	height: 150px;
	position: relative;
	font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}

.checklist li.selected {
	background-position: -105px 0;
}

.checklist li.selected .checkbox-select {
	display: none;
}

.checkbox-select {
	display: block;
	float: left;
	position: absolute;
	top: 117px;
	left: 10px;
	width: 85px;
	height: 21px;
	font-size:13px;
	text-align:center;
	color:#fff;
	border-radius:4px;
	padding: 3px 0px 0px;
	background: #8dc63f;
}

.checklist li input {
	display: none;	
}

a.checkbox-deselect {
	display: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: 120px;
	right: 10px;
}

.checklist li.selected a.checkbox-deselect {
	display: block;
}

.checklist li label {
	display: block;
	text-align: center;
	padding: 8px;
	font-size:12px;
}



/* ------------------------------ demo.css ------------------------------ */

/*	wrapper divs */
.custom-checkbox, .custom-radio { position: relative; }

/* input, label positioning */
.custom-checkbox input, .custom-radio input {position: absolute;left: 2px;top: 3px;}

.custom-checkbox label,
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 13px;
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
}

/* states */
.custom-checkbox label { background: url(../images/checkbox.gif) no-repeat; }
.custom-radio label { background: url(../images/radiobutton.gif) no-repeat; }
.custom-checkbox label, .custom-radio label {background-position: -10px -14px;}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {background-position: -10px -114px;}
.custom-checkbox label.checked, .custom-radio label.checked {background-position: -10px -214px;}
.custom-checkbox label.checkedHover,.custom-checkbox label.checkedFocus {background-position: -10px -314px;}
.custom-checkbox label.focus, .custom-radio label.focus {outline: 1px dotted #ccc;}

.leftcol{float:left;clear:left;width:50%}
.rightcol{float:left;clear:right;width:50%}
/* ---------------------------------------------------------------------------- */

