<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="TR" lang="tr">
  <head>
    <meta http-equiv = "Pragma" content = "no-cache" />
    <meta http-equiv = "Expires" content = "-1" />
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/public/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/public/css/service.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css" />

    <script type='text/javascript' src='/public/js/jquery.js'></script>
    <script type='text/javascript' src='/public/js/superfish.js'></script>

    <title>{{e(@page_title)}}</title>
  </head>

  <style>
    .home a img {float:left; width:22px; height:22px; margin-top:-6px; 
      margin-right:5px;}
  </style>


  <body>
    <F3:check if="{{@SESSION.admin}}">
    <F3:true>
    <div id="wrapper">
      <div id="container">
        <ul class="tabs" id="mainNav">
          <li class="home">
            <a href="{{@SR}}" title="Kullanıcı adınız">
            <img src="/public/upload/{{@SESSION.adminphoto}}" />
            {{@SESSION.adminusername}}</a>
</li>


          <li class="magenta">
          <a href="info"
            title="Bilgilendirme sayfası">{{e('Bilgilendirme')}}</a>
          </li>
          <li class="logout">
          <a href="logout" title="Çıkış">{{e('Çıkış')}}</a>
          </li>
        </ul>
      </div>
    </div>
    </F3:true>
    </F3:check>

    <F3:check if="{{@correct}}">
      <div id="notice"><p class="success">{{@correct}}</p></div>
    </F3:check>

    <F3:check if="{{@error}}">
      <div id="notice"><p class="fail">{{@error}}</p></div>
    </F3:check>

    <div id="content">
      <F3:check if="{{@SESSION.admin}}">
      <F3:true>
      <div id="leftcolumn">
        <table>
          <tr><td>
              <img src="/public/img/table.png"/> {{e(@SESSION.TABLE)}}
          </td></tr>
          <tr><td>
              <img src="/public/img/save.png"/> {{@SESSION.SAVE}}
          </td></tr>
          <tr><td>
              <a href="{{@SR}}" title=""><img
                src="/public/img/tables.png"/> {{e('Tablolar')}}</a>
          </td></tr>
          <F3:check if="{{@SESSION.adminsuper}}">
          <F3:true>
          <tr><td>
              <a href="review" title="">
                <img src="/public/img/review.png"/> {{e('Tablo İncele')}}</a>
          </td></tr>
          <tr><td>
              <a href="new" title="">
                <img src="/public/img/add.png"/> {{e('Ekle')}}</a>
          </td></tr>
          <tr><td>
              <a href="find" title="">
                <img src="/public/img/find.png"/> {{e('Bul')}}</a>
          </td></tr>
          </F3:true>
          </F3:check>
          <tr><td>
              <a href="csv" title="">
                <img src="/public/img/csv.png"/> {{e('Csv Çıktı')}}</a>
          </td></tr>
          <tr><td>
              <a href="csv" title="">
                <img src="/public/img/pdf.png"/> {{e('Pdf Çıktı')}}</a>
          </td></tr>
          <tr><td>
              <a href="printly" title="">
                <img src="/public/img/printly.png"/> {{e('Yazıcı Dostu')}}</a>
          </td></tr>
        </table>
      </div>
      </F3:true>
      </F3:check>

      <F3:include href="{{@template}}.htm"/>
    </div>
  </body>
</html>

